# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/

# IDE / Editor specific
.vscode/
.idea/

# OS-specific
.DS_Store

# Env files
.env

# Output directories
output/
rag_index/
